<!DOCTYPE html>
<html
        layout:decorator="layout/main"
>
<head>
    <title>Admin ROLE Page</title>
</head>
<body>
<div layout:fragment="content" style="padding-top: 91px;">
    <div class="container">
        <div class="jumbotron">
            <h1>This is Admin ROLE Page</h1>
            <p>Welcome to Admin ROLE Page.</p>
            <p><a th:href="'/broken'"> This is Broken link</a> or Try some random path EX. localhost:8080/{something}</p>
        </div>
    </div>
</div>
</body>
</html>